dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.gitsecret/keys/random_seed
!*.secret
database/bla
tasks/new-task
persons/refolutionair
tasks/contact-geuzenbond
tasks/screen-chatbotman
tasks/erfolgs-anleger-who-behind-it
tasks/wrbmedia.de-who-behind-it
misc/usefull-institutions
misc/test
